<!DOCTYPE HTML>
<html lang="en" ng-app="CoderepoApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Code Repo - <%= @item[:title] %></title>
    <link rel="stylesheet" href="<%= @items['/stylesheet/'].path %>">
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
    <div id="sidebar">
      <h2>Community</h2>
      <ul>
        <li><a href="https://github.com/gmccreight/coderepo">Github</a></li>
      </ul>
    </div>
  </body>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51532394-1', 'coderepo.io');
    ga('send', 'pageview');

  </script>
</html>
